<!DOCTYPE html>
<html ng-app="myapp">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="../Controller/artist.js"></script>
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="../CSS/sidenav.css">
    <div class="page-header">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="myartists.html">My Artists</a>
            <a href="favourites.html">Favourites</a>
            <a href="halloffame.html">Hall of Fame</a>
            <a href="jamsessions.html">Jam Sessions</a>
            <a href="concerts.html">Concerts</a>
            <a href="playlists.html">Playlists</a>
            <a href="search.html">Search</a>


        </div>
        <span onclick="openNav()"><a href="#" class = "btn btn-default btn-lg" role="button">Menu</a></span>
        <div class="leftbuttons">
            <a href="../View/login.html" class="btn btn-primary" role="button">LogIn</a>
            <a href="../View/register.html" class="btn btn-primary" role="button">Register</a>
        </div>
    </div>
</head>
<body>
    <div class="container" ng-controller="artist">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <img ng-src="http://{{profile.ArtistPicture}}" alt="" class="img-rounded img-responsive" />
                        </div>
                        <div class="col-sm-6 col-md-8">
                            <h4>
                                {{profile.ArtistName}}</h4>
                            <small><cite title="San Francisco, USA"> {{profile.ArtistLocation}} <i class="glyphicon glyphicon-map-marker">
                            </i></cite></small>
                            <p>{{profile.ArtistDescription}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="caption" ng-repeat="x in music" ng-controller="artist">
        <h3>{{x.IsSong}}</h3>
        <p>{{x.Description}}</p>
        <button ng-click="">Play</button>
        <button ng-click="">Download</button>
    </div>
    <button ng-click="showMusic()">
        Show More
    </button>
</body>
</html>
