<!DOCTYPE html>
<html>
<head>
    <title>Insert Content</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="../Controller/buyTickets.js"></script>
</head>
<body ng-app="myapp">
<div class="formYes">

    <form method="post" enctype="application/x-www-form-urlencoded" ng-controller="buyTickets">

        <p>
            <label>Name
                <input type="text" name="customer_name" ng-model="name" required>
            </label>
            <label>Surname
                <input type="text" name="customer_name" ng-model="surname" required>
            </label>
        </p>

        <p>
            <label>Phone
                <input type="tel" name="phone_number" ng-model="phone">
            </label>
        </p>

        <p>
            <label>Email
                <input type="email" name="email_address" ng-model="email">
            </label>
        </p>
        <p>
            <label>Adress
                <input type="text" name="adress" ng-model="adress">
            </label>
        </p>

        <br>

        <p>
            <label>Card type
                <select id="pickup_place" name="pickup_place">
                    <option value="" selected="selected">Select One</option>
                    <option value="visa">Visa</option>
                    <option value="mastercard">MasterCard</option>
                    <option value="visaelectron">VisaElectron</option>
                </select>
            </label>
        </p>

        <p>
            <label>Card number
                <input type="datetime-local" name="pickup_time" required>
            </label>
        </p>


        <p>
            <label>CVV
                <input type="int" name="dropoff_place">
            </label>
        </p>
        <p>
            <label>Name on card
                <input type="text" name="customer_name" required>
            </label>
        </p>


        <p>
            <label>Special Instructions
                <textarea name="comments" maxlength="500"></textarea>
            </label>
        </p>

        <p>
            <button type="submit" class="btn btn-primary" ng-click="insertData()">Submit Booking</button>
        </p>

    </form>

</div>



</body>
</html>