<!DOCTYPE html>  
 <html>  
      <head>  
           <title>MusIn</title>  
           <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />  
           <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> 
	   <script src="../Controller/home.js"></script>
          <link rel="stylesheet" type="text/css" href="../CSS/sidenav.css">
          <div class="page-header">
              <div id="mySidenav" class="sidenav">
                  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                  <a href="dashboard.html">MuseIn</a>
                  <a href="myartists.html">My Artists</a>
                  <a href="favourites.html">Favourites</a>
                  <a href="concerts.html">Concerts</a>
                  <a href="playlists.html">Playlists</a>
                  <a href="search.html">Search</a>


              </div>
              <span onclick="openNav()"><a href="#" class = "btn btn-default btn-lg" role="button">Menu</a></span>
              <div class="leftbuttons">
                  <a href="../View/login.html" class="btn btn-primary" role="button">LogIn</a>
                  <a href="../View/register.html" class="btn btn-primary" role="button">Register</a>
              </div>
          </div>
      </head>  
      <body ng-app="myapp" >  
           <br /><br />  
           <div class="container">  
                <div ng-controller="home"> 
			<p>{{dados}}</p>
			EventID: <p>{{dados['records'][0]['EventID']}}</p>
			EventName: <p>{{dados['records'][0]['EventName']}}</p>
			JamSession: <p>{{dados['records'][0]['JamSession']}}</p>
	        </div>
           </div>  
      </body>  
 </html>  
 