<div ng-controller = "HomeController">
	<div style="background-color:#FFFF;"class="page-header">
		<div id="mySidenav" class="sidenav">
			<a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>
			<a href="myartists.html">My Artists</a>
			<a href="favourites.html">Favourites</a>
			<a href="halloffame.html">Hall of Fame</a>
			<a href="jamsessions.html">Jam Sessions</a>
			<a href="concerts.html">Concerts</a>
			<a href="playlists.html">Playlists</a>
			<a href="search.html">Search</a>

		</div>
		<span style="font-size:30px;cursor:pointer" ng-click="openNav()">&#9776; open</span>

	</div>
	</div>
	<h1>Welcome to MusIn <!--{{vm.user.firstName}}-->!</h1>
	<p>You're logged in!!</p>
	<h3>All registered users:</h3>
	<ul>
		<li ng-repeat="user in vm.allUsers">
			{{user.username}} ({{user.email}})
			- <a ng-click="vm.deleteUser(user.id)">Delete</a>
		</li>
	</ul>
	<p>&nbsp;</p>

	<p><a ng-click = "logout()" href="#!/login" class="btn btn-primary">Logout</a></p>
	<p><a href="#!/createArtist" class="btn btn-primary">Create Page of Artist</a></p>
</div>