<!DOCTYPE html>  
 <html ng-app="myapp"  ng-controller="home">  
      <head>  
           <title>MusIn</title>  
           <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
	   <link rel="stylesheet" href="../CSS/nav.css" />
           <script src="https://code.angularjs.org/1.6.0/angular.min.js"></script>
	   <script src="../Controller/home.js"></script>

	<div class="page-header">
        	<div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>
            <a href="myartists.html">My Artists</a>
            <a href="favourites.html">Favourites</a>
            <a href="halloffame.html">Hall of Fame</a>
            <a href="jamsessions.html">Jam Sessions</a>
            <a href="concerts.html">Concerts</a>
            <a href="playlists.html">Playlists</a>
            <a href="search.html">Search</a>


        </div>
        <span ng-click="openNav()"><a href="#" class = "btn btn-default btn-lg" role="button">Menu</a></span>
        <div class="logo"><a href="index.html"<h1>MusIn</h1></a></div>
        <a href="profile.html"><img src="icon.png" alt="profile" style="width:3%;"></a>
        <a href="message.html"><img src="message.png" alt="message" style="width:4%;"> </a>
        <div class="leftbuttons">
            <a href="login.html" class="btn btn-primary" role="button">LogIn</a>
            <a href="register.html" class="btn btn-primary" role="button">Register</a>
        </div>
    </div>

	  
      </head>  
      <body>  
           <br /><br />  
           <div class="container">  
                <div> 
			<p>{{dados}}</p>
			EventID: <p>{{dados['records'][0]['EventID']}}</p>
			EventName: <p>{{dados['records'][0]['EventName']}}</p>
			JamSession: <p>{{dados['records'][0]['JamSession']}}</p>

	        </div>
           </div>  
      </body>  
 </html>  
 