
<div style="background-color:#FFFF;"class="page-header">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>
        <a href="myartists.html">My Artists</a>
        <a href="favourites.html">Favourites</a>
        <a href="halloffame.html">Hall of Fame</a>
        <a href="jamsessions.html">Jam Sessions</a>
        <a href="concerts.html">Concerts</a>
        <a href="playlists.html">Playlists</a>
        <a href="search.html">Search</a>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
    </div>
    <span ng-click="openNav()"><a href="#" class = "btn btn-default btn-lg" role="button">Menu</a></span>
    <!--<a href="profile.html"><img id="foto" src="icon.png" alt="profile" style="width:3%;"></a>
    <a href="message.html"><img src="message.png" alt="message" style="width:4%;"> </a>-->
</div>
